/* styles.css */
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.div-one {
    height: 500px;
    color: white;
    background: #1F2937;
}

.header{
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}